{% extends "layout.html" %}
{% block content %}
    <h2 class="q">{{ topic.title|escape }}</h2>
    <div class="center">
        <a href="/topic/{{ topic.id|convert_id }}">Permalink</a> |
        <a href="/">Show new topic</a> <!-- | -->
        <!-- <a href="/topic/add">Add topic</a> -->
    </div>
    {% if tags %}
    <p>Tags: {% for tag in tags %}#{{ tag|e }} {% endfor %}
    {% endif %}
    {% if show_comments %}
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = 'http://{{domain}}/topic/{{ topic.id|convert_id }}';
            this.page.identifier = {{topic.id}};
        };
        (function() {  // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//topicroulette.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    {% endif %}
{% endblock %}
